@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    appearance: none;
}

header {
    padding-left: calc(100vw - 100%);
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    -webkit-text-size-adjust: none;
}
body {
    padding-bottom: 3em;
}
.noUnderline {
    text-decoration: none;
}
nav ul {
    font-size: 0;
    padding-left: 0;
    margin: 0;
}
nav li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}
nav li a:hover {
    background-color: white;
}
nav li {
    display: inline-block;
}
header {
    text-align: center;
    background-color: #d3d3d3;
}
header h1 {
    margin-top: 0px;
    padding-top: 15px;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400;
}
.h1404 {
    padding-bottom: 15px;
}
.leftMargin {
    margin-left: 1em;
}
.rightMargin {
    margin-right: 1em;
}
textarea {
    resize: none;
    margin-bottom: 0px;
    height: auto;
}
textarea, input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    font-size: 16px;
    border: 2px solid #aaa;
    font-family: inherit;
    border-radius: 5px;
    color: black;
    margin-right: 2px;
    min-width: 150px;
    max-width: 500px;
    vertical-align: middle;
    margin-top: 5px;
}
input {
    height: 24px;
    padding-top: 2px;
    padding-bottom: 0px;
}
label {
    font-size: 16px;
    margin-right: 7px;
    vertical-align: middle;
}
.select {
    margin-bottom: 5px;
}
sub {
    font-size: 8px;
}
button {
    width: 12%;
    height: 24px;
    max-width: 100px;
    text-align: center;
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 0;
    display: inline-block;
}
button, select {
    font-size: 16px;
    font-family: inherit;
    border-width: 2px;
    border-radius: 5px;
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    color: black;
    min-width: 70px;
    vertical-align: middle;
}
button:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}
button:active {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}
h4 {
    margin-bottom: 0;
    font-size: 15px;
}
h3 {
    font-size: 17px;
}
p {
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 16px;
}
.noWhitespace {
    font-size: 0;
    width: 100%;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    min-width: 100px;
}
#closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
    line-height: 24px;
}
#closeModal:hover,
#closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#modalText {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

/* Confirm */
.confirm {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.confirmContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    min-width: 100px;
}
.confirmText {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}
#confirmRepeatCheck {
    margin: 0;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
    border: 2px;
}
.confirmButton {
    width: 60px;
    min-width: 60px;
    margin-top: 10px;
}

/* Memory */
.mem {
    display: none;
}
details {
    border: 2px solid #aaa;
    border-radius: 4px;
    padding-top: 0.5em;
    padding-left: 0.5em;
    width: calc(70% - 0.5em);
    min-width: 300px;
    max-width: 500px;
}
summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}
details[open] {
    padding: 0.5em;
}
details[open] summary {
    border-bottom: 2px solid #aaa;
    margin-bottom: 0.5em;
}

td, th {
    border: 2px solid #aaa;
    width: 50%;
}
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
td {
    padding-left: 0.5em;
}

div.noWhitespace>span {
    display: inline-block;
    width: 100%;
}

/* Media Queries*/
@media (max-width: 238px) {
    input, textarea {
        margin-right: 10px;
    }
}
@media (max-width: 271px) {
    button {
        margin-left: 0;
        margin-top: 4px;
        margin-right: 4px;
    }
}
@media (max-width: 292px) {
    label {
        margin-right: 10px;
    }
    select {
        margin-top: 5px;
    }
}
@media (max-width: 400px) {
    nav li {
        width: 25%;
    }
}
@media (max-width: 500px) and (min-width: 401px) {
    nav li {
        width: 100px;
    }
    header h1 {
        font-size: 50px;
    }
    nav li a {
        font-size: 20px;
    }
}
@media (min-width: 501px) {
    nav li {
        width: 100px;
    }
    header h1 {
        font-size: 70px;
    }
    nav li a {
        font-size: 25px;
    }
}
@media (max-width: 531px) and (min-width: 272px) {
    .innerWrap {
        display: inline-flex;
        flex-wrap: wrap;
        width: 70px;
        gap: 4px;
        vertical-align: middle;
        margin-top: 5px;
    }
    textarea, input {
        height: 52px;
    }
    input {
        padding-top: 2px;
        padding-bottom: 23.8px;
    }
    button {
        margin-top: 0px;
    }
}