html, body {
    margin: 0px;
    padding: 0px;
}
.blue {
    color: blue;
}
.noUnderline {
    text-decoration: none;
}
nav ul {
    padding-left: 0px;
}
nav li a {
    text-decoration: none;
    color: black;
}
header {
    text-align: center;
    background-color: #777;
}
header h1 {
    margin-top: 0px;
    padding-top: 0.5em;
    font-size: 3em;
}
body {
    font-size: 20px;
}
nav li:hover {
    background-color: white;
}
nav ul {
    font-size: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    font-size: 25px;
    padding: 0.5em;
    display: inline-block;
}
.leftMargin {
    margin-left: 1em;
}
#scratch {
    display: none;
}
#scratchInfo:hover #scratch {
    display: block;
}
.small {
    font-size: 10px;
}